.video-list {
  display: flex;
  justify-content: center;
  justify-self: center;
  max-width: 1000px;

  flex-wrap: wrap;
  gap: 10px;
}

.video-list .add-video {
  list-style: none;
  border: 5px dashed #EEEEEE;
  background: none;
  padding: 10px;
  height: 200px;
  width: 250px;
  cursor: pointer; 

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.video-list .add-video svg {
  width: 3em;
  height: 3em;
  color: #999999; 
}
