.empty-video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-video-list button {
  background-color: #CECECE;
  border: none;
  padding: 10px;
  color: #1E1E1E;
  margin-top: 10px;
}